.card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 15px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--text-weight);
  margin-top: 8px 0 0;
}

.card header span {
  font-size: 32px;
  font-weight: var(--text-weight);
  margin-top: 24px;
  display: inline-block;
}

.offers-cards {
  flex: 0 0 312px; /* largura base igual ao .card */
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px;
}

.card.japao{
  background: url("../IMG/Tokyo.png") no-repeat;
  background-size: cover;
}

.card.sanAndreas{
  background: url("../IMG/san.png") no-repeat;
  background-size: cover;
}

.card.paraiba{
  background: url("../IMG/paraibinha.png") no-repeat;
  background-size: cover;
}

.card.manaus{
  background: url("../IMG/manaus.png") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
  font-size: 48px;
  
}

.card header span {
  font-size: 40px;

}
}


